* { margin:0; padding:0; font-family: Carlito, sans-serif; }

body { background-color: #E3E4E6; }
body.panel { background-color: #2C323E; }
a:link, a:visited { color: #76a5cD; text-decoration: none; }
a:hover, a:active { text-decoration: underline; text-decoration-style: dotted; }
pre { font-family: mono; }

/*  --- cabeçalho/logo --- */

.logo {
    padding: 15px 15px 15px 75px;
    background-color: #2C323E;
    background-image: url(imgs/logo.png);
    background-repeat: no-repeat;
    background-position: 8px center;
    border-bottom: 3px solid #5685AD;
}
.logo h1 { font-size: 1.8em; font-weight: normal; color: #5685AD; }
.logo p { font-size: 0.9em; margin-top: -0.3em; color: #c3c4c6; }
.logo a:hover, a:active { color: #a6d5fD; }


/*  --- seção principal --- */

main {
    min-height: 75vh;
    border-left: 200px solid #c3c4c6;
    background-color: #E3E4E6;
}

/* --- formulário de login --- */

.login-form {
    width: 20em;
    margin: 3em auto;
}
.login-form form {
    margin-top: 1em;
    padding: 1em 1.5em;
    border: 1px solid #c3c4c6;
    border-radius: 7px;
    background-color: #d3d4d6;
}
.login-form .login-logo {
    padding-top: 57px;
    text-align: center;
    background-image: url(imgs/logo.png);
    background-repeat: no-repeat;
    background-position: center top;
}
.login-form .login-logo h1 { padding-top: 8px; font-size: 1.8em; color: #5685AD; }
.login-form p { margin-top: 10px; color: #434446; text-align: center; }
.login-form .login-logo p { font-size: 1.1em; }
.login-form form input,
.login-form form label {
    display: block;
}
.login-form form label { font-size: 1.1em; font-weight: bold; color: #434446;  }
.login-form form input { font-size: 1.3em; padding: 5px; }
.login-form form input.field {
    width: calc(100% - 1.2em);
    margin-bottom: 0.5em;
    color: #737476;
}
.login-form .msg-erro {
    margin: 15px;
    padding: 10px;
    color: #C24D4D;
    background-color: #fbcccc;
    border: 1px solid #C24D4D;
}
/* --- menu principal --- */

nav { margin-left: -200px; float: left; }
nav ul { padding: 1.5em; }
nav ul li {
    list-style-type: none;
    line-height: 1.5em;
}
nav ul li a:link, nav ul li a:visited { color: #46759D; }
nav ul li a:hover, nav ul li a:active { color: #26557D; }

/* --- seção do conteúdo --- */

section { border-left: 1px solid #a3a4a6; padding: 1.5em; min-height: 75vh; }

/* --- rodapé --- */

.footer {
    padding: 15px;
    background-color: #2C323E;
    border-top: 3px solid #5685AD;
}
.footer p { font-size: 0.9em; color: #c3c4c6; text-align: center; }
.footer a:hover, a:active { color: #a6d5fD; }

/* --- gambiarras --- */

.copyleft { display: inline-block; transform:rotateY(180deg); }
.sep { margin-bottom: 0.5em; padding-bottom: 0.5em; border-bottom: 1px solid #A3A4A6; }
.clear { clear: both; }
